apiVersion: v2
name: seqr
description: A Helm chart for deploying the Seqr app, an open source software platform for rare disease genomics
home: https://seqr.broadinstitute.org
sources:
  - https://github.com/broadinstitute/seqr
  - https://github.com/broadinstitute/seqr-helm
maintainers:
  - name: seqr
    email: seqr@broadinstitute.org
type: application
version: 3.25.0
appVersion: "f50325907b8f7eaea22c7dd0c0bc99f4371c80dc"
dependencies:
  - name: redis
    version: 19.0.2
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
  - name: postgresql
    version: 15.5.31
    repository: "https://charts.bitnami.com/bitnami"
    condition: postgresql.enabled
  - name: clickhouse
    version: 9.2.2
    repository: "https://charts.bitnami.com/bitnami"
    condition: clickhouse.enabled
  - name: lib
    version: 1.1.0
    repository: "file://../lib"
    import-values:
      - child: exports.global
        parent: global
