apiVersion: v1
kind: ConfigMap
metadata:
  name: luigi-config
  labels:
    {{- include "pipeline-runner.labels" . | nindent 4 }}
data:
  luigi.cfg: |-
    [core]
    scheduler_host = {{ .Chart.Name }}-ui
    scheduler_port = 8082

    [scheduler]
    record_task_history = True
    state_path = {{ .Values.environment.LUIGI_STATE_DIR }}/luigi-state.pickle
    remove_delay = 3600
    worker_disconnect_delay = 5

    [task_history]
    db_connection = sqlite://{{ .Values.environment.LUIGI_STATE_DIR }}/luigi-task-hist.db
