apiVersion: v2
name: pipeline-runner
description: A Helm chart for deploying the loading pipeline of Seqr, an open source software platform for rare disease genomics
sources:
  - https://github.com/broadinstitute/seqr-helm
  - https://github.com/broadinstitute/seqr-loading-pipelines
maintainers:
  - name: seqr
    email: seqr@broadinstitute.org
type: application
version: 2.78.0
appVersion: "775b428666692c98a3c7dcdd80c4d661f7ef536d"
dependencies:
  - name: lib
    version: 1.1.0
    repository: "file://../lib"
    import-values:
      - child: exports.global
        parent: global
